body {
  margin-left: 15%;
  margin-right: 15%;
}
.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  /*border: 1px solid;*/
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: 1px black solid;*/
}
#header {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #070f18;
}
#menu {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #070f18;
  text-align: right;
  margin-top: 49px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
  margin-left: 20px;
}
a {
  color: black;
  text-decoration: none;
}
#kanbanText {
  font-family: Poppins;
  margin-left: 20px;
}
#kanbanImg {
  align-self: center;
}
#kanbanImg img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10% 10%;
  /*border-radius: 40% 10%;
    border-radius: 5% 20% 50% 70%;
    */
}
#scrumText {
  font-family: Poppins;
  margin-left: 20px;
}
#scrumImg {
  align-self: center;
}
#scrumImg img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10% 10%;
  /*border-radius: 40% 10%;
    border-radius: 5% 20% 50% 70%;
    */
}
